@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Fira Code", monospace;
  color: #ABB2BF;
  border-color: #ABB2BF;
}

body {
  background-color: #911db8;
  background-image: linear-gradient(225deg, #1c0d21 0%, #321649 50%, #080d3c 100%);
  
}

/* global.css or any CSS file */
.hide-scrollbar {
  overflow: auto; /* Keep scrolling functional */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
